{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="row container-fluid" style="margin: 0px; padding: 0px;">
        <div class="col">
            <div class="hero-image">
                <div class="hero-text">
                    <h1>VÄTTERN KÖK</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row center-content mb-3">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div>
                    <h3>Hemsida under konstruktion</h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row center-content">
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div>
                    <h3>Jonas Sörensen</h3>
                    <p>E-post: jonas@vatternkok.se</p>
                    <p>Telefon: +46 70 567 22 56</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div>
                    <h3>Alexander Aronsson</h3>
                    <p>E-post: alexander@vatternkok.se</p>
                    <p>Telefon: +46 73 082 34 47</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div>
                    <h3>Jan Sörensen</h3>
                    <p>E-post: jan@vatternkok.se</p>
                    <p>Telefon: +46 76 858 31 34</p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}