html {
    height: 100%;
    width: auto;
}

body {
    width: 100vw;
    height: calc(100vh - 164px);
    font-family: 'Roboto', sans-serif;
    background-color: #bbb7AB;
    background-size: cover;
    z-index: 99999;
}

/* headings */

h1 {
    text-decoration: none;
    color: #3d3b39;
}

/* Navbar elements */

nav{
    display: flex;
    flex-direction: row;
    background-color: #eae7db;
    
}

#main-nav {
    display: flex;
    justify-content: center;
    background-color: #eae7db;
    margin: 0px;
    padding: 0px;
}

#navbar-disappear {
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

#navbar-disappear a {
    float: left;
    display: block;
    color: #3d3b39;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

#navbar-disappear a:hover {
    background-color: #eae7db;
    color: #3d3b39;
}

/* Home page */

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.hero-text {
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.center-content {
    justify-content: center;
}

/* links */

a {
    text-decoration: none;
  }
  
  a:hover {
    color: #a77131;
    text-decoration: underline;
    cursor: pointer;
  }


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
    .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }
  
    .header-container {
      padding-top: 164px;
    }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
    .header-container {
      padding-top: 116px;
    }
  
    body {
      height: calc(100vh - 116px);
    }
  
    .nav-link {
        padding: 0.15rem;
    }
  
    .nav-link i.fa-lg {
        font-size: 1rem;
    }
  
    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
  }